@import '../../styles//space.scss';
@import '../../styles/colors.scss';

.todo {
  display: flex;
  justify-content: space-between;
  padding: $medium-space;
  align-items: center;

  &--description p {
    color: $gray;
    background-color: $gray;
  }

  input {
    background-color: transparent;
    outline: none !important;
    border: none;
    box-shadow: none;
    padding: 16px;
    color: $white;
  }

  &--button {
    display: flex;
    background-color: $charcoal;
    width: 3.5rem;
    height: 1.8rem;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: $small-space;
  }
}
